In [ ]:
number1= int(input("Enter the number: "))
number2= int(input("Enter the numberr: "))
product= number1*number2
sum=number1+number2
print(f'Product is {product}');
if(product>1000):
 print(f'Sum is {sum}');

Enter the number: 100
Enter the numberr: 50
Product is 5000
Sum is 150

In [ ]:
radius=int(input("Enter the radius: "))
area=3.1416*radius*radius
perimeter=2*3.1416*radius
print(f'Radius is {radius}');
print(f'Perimeter is {perimeter}');

Enter the radius: 4
Radius is 4
Perimeter is 25.1328

In [ ]:
P=float(input("Enter the principle amount: "))
R=float(input('Enter the interest rate: '))
T=float(input("Enter the time: "))
def compound_interset_2022_3_60_317 (P,R,T):
 A=P*(1+R/100)**T
 return A
amount= compound_interset_2022_3_60_317(P,R,T)
interest= amount-P;

print(f'Interest after {T} year is {interest}')

Enter the principle amount: 1200
Enter the interest rate: 5
Enter the time: 3
Interest after 3.0 year is 189.1500000000001

In [ ]:
N=int(input("Enter the range: "))
total=0;
for i in range(1,N+1):
  total=total+i**2


print(f'Total is {total}')

Enter the range: 5
Total is 55

In [ ]:
N=int(input("Enter the number: "))
total=0;
def prime_find_2022_3_60_317(N,total):
  for i in range(2,N):
    if((N%i)==0):
      total=total+1
    else:
      total=total+0
  if(total==0):
    return True
  else:
    return False
if prime_find_2022_3_60_317(N,total):
 print(f'The number is prime')
else:
  print(f'The number is not prime')

Enter the number: 7
The number is prime

In [ ]:
n=int(input("Enter the number: "))
total=0;
F0=0
F1=1
for i in range(1,N):
  temp=F0+F1
  F0=F1
  F1=temp


print(f'{n}th fibonacci number is {F1}' )

Enter the number: 7
7th fibonacci number is 13

In [ ]:
L=[1,2,3,4,5]
sum=0
for i in L:
  sum=sum+i

print(f'Sum is {sum}')

Sum is 15

In [ ]:
L=[1,2,3,4,5]
sum=0
for i in range(0,len(L)):
  if(i%2==0):
    sum=sum+L[i]

print(f'Sum is {sum}')

Sum is 9

In [ ]:
L=[1,2,3,4,5]
def smallest_number_2022_3_60_317(L):
  min_val=L[0]
  for i in range(0,len(L)):
    if(L[i]<min_val):
      min_val=L[i]
  return min_val;

def largest_number_2022_3_60_317(L):
  max_val=L[0]
  for i in range(0,len(L)):
   if(L[i]>max_val):
    max_val=L[i]
  return max_val

min_result=smallest_number_2022_3_60_317(L)
max_result=largest_number_2022_3_60_317(L)

print(f'max is {max_result}')
print(f' min is  {min_result}')

max is 5
 min is  1

In [ ]:
L=[1,2,3,4,5]

def second_largest_number_2022_3_60_317(L):
  max_val=L[0]
  max_val2=max_val
  for i in range(0,len(L)):
   if(L[i]>max_val):
    max_val2=max_val
    max_val=L[i]
  return max_val2

max_result=second_largest_number_2022_3_60_317(L)

print(f'Second max is {max_result}')

Second max is 4

In [ ]:
string=input("Enter the string: ")
for i in range(len(string)):
  if(i%2==0):
    print(f'Even characters at index {i} is {string[i]}')

Enter the string: i hate study
Even characters at index 0 is i
Even characters at index 2 is h
Even characters at index 4 is t
Even characters at index 6 is
Even characters at index 8 is t
Even characters at index 10 is d

In [ ]:
string=input("Enter the string: ")
num=int(input("Enter the number: "))
string2=""
if(num<len(string)):
  for i in range(len(string)):
    if(i>=num):
      string2=string2+string[i]

  print(f'New text is {string2}')
else:
  print(f'Error')

Enter the string: lala
Enter the number: 2
New text is la

In [ ]:
string=input("Enter the text: ")
count=0
string2="CSE303"
j=0
for i in range(len(string)):
  if(string[i]!=string2[j]):
    j=0
  elif(j==5):
    count=count+1
    j=0
  else:
    j=j+1
print(f'{count}')

Enter the text: CSE303jssdfCSE303
2

In [ ]:
string=input("Enter the text: ")

def palindrome_checker_2022_3_60_317(string):
  string2=""
  for i in range(len(string)-1,-1,-1):
    string2=string2+string[i]
  if(string==string2):
    return True
  else:
    return False

if(palindrome_checker_2022_3_60_317(string)):
  print(f'Text is palindrome')
else:
  print(f'Text is not palindrome')

Enter the text: madam
Text is palindrome

In [ ]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=[]

for i in range(len(list1)):
  if(list1[i]%2!=0):
    list3.append(list1[i])
  elif(list2[i]%2==0):
    list3.append(list2[i])

print(f'New list is {list3}')

New list is [1, 3, 5]