In [10]:
import pandas as pd
path="/content/drive/MyDrive/csv/students_marks.csv"

In [13]:
#Read the DataSet from CSV

df=pd.read_csv(path)
print(f'The dataset is: ')
print(df.head(1001))

The dataset is:
    Student_ID  Physics  Chemistry  Biology  Mathematics  English
0     STUD0001       78         73       85           98       65
1     STUD0002       91         67       54           45       44
2     STUD0003       68         70       48           80       74
3     STUD0004       54         47       54           78       67
4     STUD0005       82         78       88           43       68
..         ...      ...        ...      ...          ...      ...
995   STUD0996       43         76       75           72       42
996   STUD0997       40         64       42           43       67
997   STUD0998       88         87       48           64       45
998   STUD0999       79         40       47           59       83
999   STUD1000       71         92       72           73       83

[1000 rows x 6 columns]

In [25]:
#Prompt user to choose a subject

print("Aavilable subjects: ")
print(df.columns[1:])
subject=input("Enter the subject: ")

#Statistics for the subject chosen

if subject in df.columns:
  data=df[subject]
  mean=data.mean()
  median=data.median()
  mode=data.mode().tolist()

Aavilable subjects:
Index(['Physics', 'Chemistry', 'Biology', 'Mathematics', 'English'], dtype='object')
Enter the subject: math

In [26]:
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

#Statistics for the subject chosen
if subject in df.columns:
  data=df[subject]
  mean_val=np.mean(data)
  median_val=np.median(data)
  mode_val=Counter(data).most_common(1)[0][0]
  var_val=np.var(data, ddof=1)
  std_val=np.std(data, ddof=1)

  print("Mean: ",mean_val)
  print("Mrdian: ",median_val)
  print("Mode: ", mode_val)
  print("Variance: ", var_val)
  print("Standard Deviation: ", std_val)

else:
  print(f'Subject is not the dataset')

Subject is not the dataset